@import "../../../variables";

#editProfile {
  position: absolute;
  left: 50%;
  right: 50%;
  background-color: red;
  transform: translate(-50%, -50%);
  padding: 1rem 1.5rem;
  width: 40rem;
  border-radius: 0.5rem;
  z-index: 99999;
  .modal-close {
    cursor: pointer;
  }
  #Form-Profil {
  }
}
